.header-main {
    font-family: Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}


.header-main {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
    text-align: center;
    font-size: 100px;
    color: khaki;
  }
  
  .item h2 {
    font-size: 32px;
    color: white;
  }
  
  .price {
    font-weight: bold;
    color: blue;
  }
  
  #brush {
    background-color: mediumspringgreen;
  }
  
  #frame {
    background-color: lightcoral;
  }
  
  #paint {
    background-color: skyblue;
  }